<!DOCTYPE html>
{% load static %}
<html>
  <head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{%static "ico/favicon.png" %}">

    <title>rateMF - Coming Soon</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static "css/soon.css" %}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  </head>
  <!-- START BODY -->
  <body class="nomobile">

    <!-- START HEADER -->
    <section id="header">
        <div class="container">
            <header>
                <!-- HEADLINE -->
                <h1 data-animated="GoIn"><b>rateMF</b> site is coming soon...</h1>
            </header>
            <!-- START TIMER -->
            <div id="timer" data-animated="FadeIn">
                <p id="message"></p>
                <div class="timer_box"><h1>{{ object_list.count }} </h1><p>Profs</p></div>

            </div>
            <!-- END TIMER -->
            <div class="col-lg-4 col-lg-offset-4 mt centered">
            	<h4>Search Professor</h4>
				<form action="/professors" class="form-inline" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail2">Email address</label>
				    <input type="text" class="form-control" id="exampleInputEmail2" name="q" placeholder="Enter professor name">
				  </div>
				  <button type="submit" class="btn btn-info">Search</button>
				</form>
			</div>


        </div>
        {% for i in object_list %}
        <div class="row">
            <div class="col-lg-2">pic</div>
            <div class="col-lg-2">
                <a href="/">{{ i.name }}</a>
            </div>
        </div>
        {% endfor %}
        <!-- LAYER OVER THE SLIDER TO MAKE THE WHITE TEXTE READABLE -->
        <div id="layer"></div>
        <!-- END LAYER -->
        <!-- START SLIDER -->
        <div id="slider" class="rev_slider">
            <ul>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/img/slider/1.jpg">
                <img src="{%static "img/slider/1.jpg" %}">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/img/slider/2.jpg">
                <img src="{%static "img/slider/2.jpg" %}">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/img/slider/3.jpg">
                <img src="{%static "img/slider/3.jpg" %}">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/img/slider/4.jpg">
                <img src="{%static "img/slider/4.jpg" %}">
              </li>
            </ul>
        </div>
        <!-- END SLIDER -->
    </section>
    <!-- END HEADER -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{%static "js/jquery.min.js" %}"></script>
	  <script type="text/javascript" src="{%static 'assets/js/modernizr.custom.js' %}"></script>
    <script src="{%static "js/bootstrap.min.js" %}"></script>
    <script src="{%static "js/soon/plugins.js" %}"></script>
    <script src="{%static "js/soon/jquery.themepunch.revolution.min.js" %}"></script>
    <script src="{%static "js/soon/custom.js" %}"></script>
  </body>
  <!-- END BODY -->
</html>