{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profs</title>
     <link href="{%static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static "css/soon.css" %}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="container">

    <div class="row">
        <div class="col-md-4"><h1>rateMF</h1></div>
        <div class="col-md-8">
            <h1>rate dude!</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            {% for prof in object_list %}
            <div class="row">
                <div class="col-md-10"><a href="/prof/{{ prof.slug }}">{{ prof.name }}</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</body>
</html>