{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profs</title>
     <link href="{%static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static "css/soon.css" %}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="container">

    <div class="row">
        <div class="col-md-4"><h1>rateMF</h1></div>
        <div class="col-md-8">
            {{ object_list.name }}
        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            {% for i in object_list.scores.all %}
            <div class="row">
                <div class="col-md-10">
                    <h3>Scored by:</h3>
                    {{ i.student }}<br />
                    <h3>Comment:</h3>
                    {{ i.comment }}<br />
                    <h3>Up:</h3>
                    {{ i.up_voters.count }}
                    <h3>Down:</h3>
                    Down: {{ i.down_voters.count }}<br />
                    <h3>Overall Score:</h3>
                    {{ i.overall_score }}<br />
                    <h3>For Credit:</h3>
                    {% if i.for_credit == 'False' %}
                        NO!
                    {% else %}
                        YES!
                    {% endif %}
                    <h3>Attendance:</h3>
                    {% if i.attendance == 'False' %}
                        NO!
                    {% else %}
                        YES!
                    {% endif %}
                    <h3>Textbook Used:</h3>
                    {% if i.textbook_used == 'False' %}
                        NO!
                    {% else %}
                        YES!
                    {% endif %}
                    <h3>Would Take Again:</h3>
                    {% if i.would_take_again == 'False' %}
                        NO!
                    {% else %}
                        YES!
                    {% endif %}
                    <hr/>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</body>
</html>